<header>

    <div class="leftside">
        <div class="logo" routerLink="/" (click)="refreshPage()">AjBlogs</div>
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search stories..." [formControl]="searchControl">
        </div>
    </div>

    <div class="nav-icons">
        <div *ngIf="!(authService.$user | async)">
            <a routerLink="/signup">Sign Up</a>/
            <a routerLink="/signin">Sign In</a>
        </div>

        <div class="my-area">
            <a *ngIf="authService.$user | async as user" [routerLink]="'me'">My Space</a>
            <div *ngIf="authService.$user | async as user">
                <img src="https://avatar.iran.liara.run/public" alt="Profile" class="icon" id="profileIcon">
            </div>
        </div>
    </div>
</header>