<form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <h2>{{ type.replace('_',' ')| titlecase}}</h2>

    <div class="formgroup">
        <label for="">Email</label>
        <input formControlName="email" type="email">

        <ng-container *ngIf="formControl('email')?.dirty || formControl('email')?.touched">
            <p class="errorMsg" *ngIf="formControl('email')?.errors?.['required']">Email can’t be empty</p>
            <p class="errorMsg"
                *ngIf="formControl('email')?.errors?.['email'] && !formControl('email')?.errors?.['required']">Enter
                valid
                email id</p>
            <p class="errorMsg" *ngIf="isEmailExists">Email already exists</p>
        </ng-container>

    </div>


    <div class="formgroup">
        <label for="">Password</label>
        <input formControlName="password" type="password">

        <ng-container *ngIf="formControl('password')?.dirty || formControl('password')?.touched">
            <p class="errorMsg" *ngIf="formControl('password')?.errors?.['required']">Password can’t be empty</p>
        </ng-container>

    </div>


    <div class="formgroup" *ngIf="type === 'sign_up'">
        <label for="">User Name</label>
        <input formControlName="userName" type="text">
    </div>

    <button type="submit">{{type.replace('_',' ')| titlecase}}</button>

</form>