:root {
    --primary-color: #2c3e50;
    --hover-primary: #395068;
    --danger: #c00c0c;
    --danger-hover: #b10d0d;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.errorMsg {
    color: red;
    font-weight: lighter;
    font-size: small;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}